/*//////////////////////////////////////////////////
 	reset all.
//////////////////////////////////////////////////*/

body,
div,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
th,
td,
article,
aside,
figure,
footer,
header,
hgroup,
menu,
nav,
section
{
	margin: 0;
	padding: 0;
	border: 0;
}


/*//////////////////////////////////////////////////
 	basic styles, and placement of system screens.
//////////////////////////////////////////////////*/

body
{
	background-color: #999;
}

div, img, input
{
	position: absolute;
}

input
{
	left: 76px;
	top: 454px;
	width: 450px;
	border-width: 0;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: bold;
	text-transform: uppercase;
	color: #000073;
	background-color: #fff;
	font-stretch: semi-condensed;
	letter-spacing: 1px;
}

#dragzone
{
	width: 1024px;
	height: 753px;
}

#acctInfo
{
	top: 134px;
}

#acctMaint-container
{
	left: 70px;
	top: 35px;
	display: none;
}

#confirm-container
{
	left: 238px;
	top: 217px;
	display: none;
}



/*//////////////////////////////////////////////////
 	dimensions and placement of the "hot spots".
//////////////////////////////////////////////////*/

#chkStep01
{
	left: 13px;
	top: 76px;
	width: 41px;
	height: 46px;
}

#chkStep02
{
	left: 657px;
	top: 605px;
	width: 89px;
	height: 33px;
}

#chkStep03
{
	left: 83px;
	top: 115px;
	width: 42px;
	height: 23px;
}


/*//////////////////////////////////////////////////
 	dimensions and placement of the FB highlights.
//////////////////////////////////////////////////*/

#hilight01
{
	left: 8px;
	top: 71px;
	width: 41px;
	height: 46px;
	border: 5px solid #ffcc33;
	display: none;
}

#hilight02
{
	left: 652px;
	top: 600px;
	width: 89px;
	height: 33px;
	border: 5px solid #ffcc33;
	display: none;
}

#hilight03
{
	left: 78px;
	top: 110px;
	width: 42px;
	height: 23px;
	border: 5px solid #ffcc33;
	display: none;
}


