/***********************
		Web Fonts
************************/

/* p, #vitae li */

@font-face
{
	font-family: MuseoSans;
	src: url( "../fonts/MuseoSans_500-webfont.eot" );										/* IE9 Compat Modes */
	src: url( "../fonts/MuseoSans_500-webfont.eot?#iefix" ) format( "embedded-opentype" ),	/* IE6 - IE8 */
		 url( "../fonts/MuseoSans_500-webfont.woff" ) format( "woff" ),						/* Modern Browsers */
		 url( "../fonts/MuseoSans_500-webfont.ttf" ) format( "truetype" ),					/* Safari, Android, iOS */
		 url( "../fonts/MuseoSans_500-webfont.svg#MuseoSans" ) format( "svg" );				/* Legacy iOS */
	font-weight: normal;
	font-style: normal;
}

/* all generic <h#> elems but <h4> */

@font-face
{
	font-family: Mangerica;
	src: url( "../fonts/Mangerica-SemiBold-webfont.eot" );										/* IE9 Compat Modes */
	src: url( "../fonts/Mangerica-SemiBold-webfont.eot?#iefix" ) format( "embedded-opentype" ),	/* IE6 - IE8 */
		 url( "../fonts/Mangerica-SemiBold-webfont.woff" ) format( "woff" ),					/* Modern Browsers */
		 url( "../fonts/Mangerica-SemiBold-webfont.ttf" ) format( "truetype" ),					/* Safari, Android, iOS */
		 url( "../fonts/Mangerica-SemiBold-webfont.svg#Mangerica" ) format( "svg" );			/* Legacy iOS */
	font-weight: normal;
	font-style: normal;
}

/* generic <h4> elems */

@font-face
{
	font-family: MuseoSlabItalic;
	src: url( "../fonts/Museo_Slab_500italic-webfont.eot" );										/* IE9 Compat Modes */
	src: url( "../fonts/Museo_Slab_500italic-webfont.eot?#iefix" ) format( "embedded-opentype" ),	/* IE6 - IE8 */
		 url( "../fonts/Museo_Slab_500italic-webfont.woff" ) format( "woff" ),						/* Modern Browsers */
		 url( "../fonts/Museo_Slab_500italic-webfont.ttf" ) format( "truetype" ),					/* Safari, Android, iOS */
		 url( "../fonts/Museo_Slab_500italic-webfont.svg#MuseoSlabItalic" ) format( "svg" );		/* Legacy iOS */
	font-weight: normal;
	font-style: normal;
}

/* #header h1 */

@font-face
{
	font-family: MuseoSlab;
	src: url( "../fonts/Museo_Slab_500-webfont.eot" );										/* IE9 Compat Modes */
	src: url( "../fonts/Museo_Slab_500-webfont.eot?#iefix" ) format( "embedded-opentype" ),	/* IE6 - IE8 */
		 url( "../fonts/Museo_Slab_500-webfont.woff" ) format( "woff" ),					/* Modern Browsers */
		 url( "../fonts/Museo_Slab_500-webfont.ttf" ) format( "truetype" ),					/* Safari, Android, iOS */
		 url( "../fonts/Museo_Slab_500-webfont.svg#MuseoSlab" ) format( "svg" );			/* Legacy iOS */
	font-weight: normal;
	font-style: normal;
}

/* #header h2, #footer p */

@font-face
{
	font-family: Choplin;
	src: url( "../fonts/Choplin-Medium-webfont.eot" );										/* IE9 Compat Modes */
	src: url( "../fonts/Choplin-Medium-webfont.eot?#iefix" ) format( "embedded-opentype" ),	/* IE6 - IE8 */
		 url( "../fonts/Choplin-Medium-webfont.woff" ) format( "woff" ),					/* Modern Browsers */
		 url( "../fonts/Choplin-Medium-webfont.ttf" ) format( "truetype" ),					/* Safari, Android, iOS */
		 url( "../fonts/Choplin-Medium-webfont.svg#Choplin" ) format( "svg" );				/* Legacy iOS */
	font-weight: normal;
	font-style: normal;
}
